{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} {{ quizName }} {% endblock %}

{% block page_content %}

{% if isCreator %}
<h3>The shareable link is : {{url_for('quiz.view', token, _external = True)}} </h3>

{% endif %}

<h1> {{ quizName }}</h1>

<form action="{{url_for('quiz.view', token =token)}}" method='POST'>
    <ol>
        {% for i in range(questionsLen) %}
            <li> {{questions[i].question }} </li>
            <input type='radio' value='{{questions[i].opt1}}' name='{{i}}'>{{questions[i]['opt1']}} </input>
            <input type='radio' value='{{questions[i].opt2}}' name='{{i}}'>{{questions[i]['opt2']}} </input>
            <input type='radio' value='{{questions[i].opt3}}' name='{{i}}'>{{questions[i]['opt3']}} </input>
            <input type='radio' value='{{questions[i].opt4}}' name='{{i}}'>{{questions[i]['opt4']}} </input>
        {% endfor %}
    </ol>
    <input type="submit" value="submit" />
</form>

{% endblock %}